body {
  font-family: "Poppins", sans-serif;
}

/* Navbar CSS */

.logo {
  width: 15rem;
}

.navbar-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.nav-links {
  display: none;
}

.link-text {
  margin: 1rem;
  font-weight: 400;
}

@media only screen and (min-width: 700px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
  }

  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
  }
}

/* Zonal Heads CSS */

.zonal-heads {
  margin: 0vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zonal-header {
  font-size: 1.75rem;
  font-weight: 700;
  color: #01bcb2;
}

.zonal-text {
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 700px) {
  .zonal-header {
    font-size: 2rem;
  }
  .zonal-text {
    width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Card Style */

.card {
  position: relative;
  height: 20rem;
 
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.card-gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(1, 188, 178, 1) 65%,
    rgba(1, 188, 178, 1) 100%
  );
}

.card-text {
  padding: 1.5rem 0rem 0rem 1rem;
}

.card-text p {
  line-height: 1rem;
  color: white;
  font-weight: 500;
}
