body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

@media only screen and (min-width: 700px) {
  .zonal-cards::-webkit-scrollbar {
    width: 2em;
    height: 1.5em;
  }

  .zonal-cards::-webkit-scrollbar-track {
    background-color: #f4f5f7;
    border-radius: 100vw;
    margin-block: 1em;
  }

  .zonal-cards::-webkit-scrollbar-thumb {
    background-color: #3dbcb1;
    border: 0.45em solid #f4f5f7;
    border-radius: 100vw;
  }

  .district-cards::-webkit-scrollbar {
    width: 2em;
    height: 1.5em;
  }

  .district-cards::-webkit-scrollbar-track {
    background-color: #f4f5f7;
    border-radius: 100vw;
    margin-block: 1em;
  }

  .district-cards::-webkit-scrollbar-thumb {
    background-color: #349ad4;
    border: 0.45em solid #f4f5f7;
    border-radius: 100vw;
  }

  .ambassadors-cards::-webkit-scrollbar {
    width: 2em;
    height: 1.5em;
  }

  .ambassadors-cards::-webkit-scrollbar-track {
    background-color: #f4f5f7;
    border-radius: 100vw;
    margin-block: 1em;
  }

  .ambassadors-cards::-webkit-scrollbar-thumb {
    background-color: #132b4c;
    border: 0.45em solid #f4f5f7;
    border-radius: 100vw;
  }

  .executive-cards::-webkit-scrollbar {
    width: 2em;
    height: 1.5em;
  }

  .executive-cards::-webkit-scrollbar-track {
    background-color: #f4f5f7;
    border-radius: 100vw;
    margin-block: 1em;
  }

  .executive-cards::-webkit-scrollbar-thumb {
    background-color: #5774e1;
    border: 0.45em solid #f4f5f7;
    border-radius: 100vw;
  }

  .community-cards::-webkit-scrollbar {
    width: 2em;
    height: 1.5em;
  }

  .community-cards::-webkit-scrollbar-track {
    background-color: #f4f5f7;
    border-radius: 100vw;
    margin-block: 1em;
  }

  .community-cards::-webkit-scrollbar-thumb {
    background-color: #f8af45;
    border: 0.45em solid #f4f5f7;
    border-radius: 100vw;
  }

  .fellow-cards::-webkit-scrollbar {
    width: 2em;
    height: 1.5em;
  }

  .fellow-cards::-webkit-scrollbar-track {
    background-color: #f4f5f7;
    border-radius: 100vw;
    margin-block: 1em;
  }

  .fellow-cards::-webkit-scrollbar-thumb {
    background-color: #a245f8;
    border: 0.45em solid #f4f5f7;
    border-radius: 100vw;
  }
}

.absimage {
  width: 100vw;
  margin: 5vh 0;
}

/* Navbar CSS */
nav {
  padding: 1.75rem;
}

.mulearn-logo {
  width: 6rem;
}

.nav-barbtn button {
  border: 2.5px solid #5865f2;
  padding: 0.65rem 0.96rem;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: #5865f2;
  color: white;
  margin-top: 2vh;
}

.dropdown {
  font-size: 0.89rem;
}

.dropdown-item {
  font-size: 0.75rem;
}

footer {
  padding: 4rem 2rem;
  background-color: #404040;
  margin-top: 10vh;
}

.footer-logo {
  width: 5rem;
}

footer a {
  text-decoration: none;
  color: #ffff;
}

.footer-links {
  margin: 2rem 0;
  line-height: 2rem;
  font-size: 0.9rem;
}

.footer-links a {
  margin-right: 0.75rem;
}

.iconify {
  font-size: 2rem;
  margin-right: 0.75rem;
}

.iconify:hover {
  color: #f6832a;
  background-color: #404040;
}

footer hr {
  color: white;
  margin: 2rem 0rem;
}
.address {
  color: white;
  width: 20rem;
  font-weight: 200;
  font-size: 0.8rem;
}

.mailus {
  display: block;
  padding-top: 1rem;
  color: rgb(176, 176, 245);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #5e72e4;
}

.fheadingtext {
  font-size: 1.1rem;
  color: white;
  margin-top: 4vh;
}

.fparagraph {
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
}

.newsletterinvite {
  display: flex;
  flex-direction: row;
}

.invite-container {
  position: relative;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-top: 2vh;
  border-radius: 5px;
}

.invite-container input {
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem;
  width: 12.5rem;
}

.invite-container button {
  border: none;
  font-size: 0.8rem;
  color: white;
  background-color: #f6832a;
  padding: 0.5rem 1.75rem;
  border-radius: 3px;
}

.invite-container button:hover {
  background-color: #fd7915;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.newsletter {
  width: 20rem;
}

.newslettertext {
  color: white;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 1000px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer {
    padding: 1rem 6rem;
    padding-bottom: 3rem;
  }

  nav {
    margin: 0.75rem 3.4rem;
  }

  .navbar-styles {
    display: flex;
    justify-content: space-between;
  }

  .nav-barbtn button {
    margin-top: 0;
  }

  .iconify {
    font-size: 2.5rem;
  }

  .footer-logo {
    width: 6rem;
    margin-top: 2vh;
  }
}

/* Zonal Heads CSS */

.zonal-heads {
  margin: 0vh 5vw;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zonal-header {
  font-size: 1.75rem;
  font-weight: 700;
  color: #01bcb2;
}

.zonal-text {
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 700px) {
  .zonal-header {
    font-size: 2rem;
  }
  .zonal-text {
    width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Card Style */

.zonal-cards {
  display: flex;
  overflow-x: auto;
  -webkit-scrollbar: none;
  margin-top: 5vh;
}

.card {
  flex: 0 0 auto;
  position: relative;
  height: 18rem;
  margin: 0 18px;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.card-gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(1, 188, 178, 1) 65%,
    rgba(1, 188, 178, 1) 100%
  );
}

.card-text {
  padding: 2rem 0rem 0rem 1rem;
}

.card-text p {
  line-height: 1.2rem;
  color: white;
  font-weight: 500;
}

.card-designation {
  font-weight: 400;
}

@media only screen and (min-width: 700px) {
  .zonal-cards {
    width: 80vw;
  }

  .card {
    margin: 0 38px;
  }
}

/* District Heads CSS */

.district-heads {
  margin: 0vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.district-header {
  margin-top: 3vh;
  font-size: 1.75rem;
  font-weight: 700;
  color: #349ad4;
}

.district-text {
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 700px) {
  .district-header {
    font-size: 2rem;
  }
  .district-text {
    width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Card Style */

.district-cards {
  display: flex;
  overflow-x: auto;
  -webkit-scrollbar: none;
  margin-top: 5vh;
  width: 90vw;
}

.dcard {
  flex: 0 0 auto;
  position: relative;
  height: 18rem;
  margin: 0 10px;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.dcard-gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #349ad4 65%,
    #349ad4 100%
  );
}

@media only screen and (min-width: 700px) {
  .district-cards {
    width: 80vw;
  }

  .dcard {
    margin: 0 28px;
  }
}

@media only screen and (min-width: 1800px) {
  .executive-cards {
    width: 80vw;
    justify-content: center;
  }
}

/* Ambassadors Heads CSS */

.ambassadors-heads {
  margin: 5vh 5vw;
  margin-bottom: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ambassadors-header {
  margin-top: 2vh;
  font-size: 1.75rem;
  font-weight: 700;
  color: #fa9505;
}

.ambassadors-text {
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 700px) {
  .ambassadors-header {
    font-size: 2rem;
  }
  .ambassadors-text {
    width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Card Style */

.ambassadors-cards {
  display: flex;
  overflow-x: auto;
  -webkit-scrollbar: none;
  margin-top: 5vh;
}

.acard {
  flex: 0 0 auto;
  position: relative;
  height: 18rem;
  margin: 0 10px;
}

.acard-gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #132b4c 65%,
    #132b4c 100%
  );
}

@media only screen and (min-width: 700px) {
  .ambassadors-cards {
    width: 80vw;
  }

  .acard {
    margin: 0 28px;
  }
}

/* Executive Heads CSS */

.executive-heads {
  margin: 5vh 5vw;
  margin-bottom: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.executive-header {
  margin-top: 2vh;
  font-size: 1.75rem;
  font-weight: 700;
  color: #5774e1;
}

.executive-text {
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 700px) {
  .centerba {
    display: flex;
    justify-content: center;
  }

  .executive-header {
    font-size: 2rem;
  }
  .executive-text {
    width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Card Style */

.executive-cards {
  display: flex;
  overflow-x: auto;

  -webkit-scrollbar: none;
  margin-top: 5vh;
}

@media only screen and (min-width: 700px) {
  .executive-cards {
    width: 80vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .acard {
    margin: 0 28px;
  }
}

/* Fellow CSS */
.fellows {
  margin: 5vh 5vw;
  margin-bottom: 0vh;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.fellow-header {
  margin-top: 2vh;
  font-size: 1.8rem;
  font-weight: 700;
  color: #a245f8;
}

.fellow-cards {
  display: flex;
  overflow-x: auto;

  -webkit-scrollbar: none;
  margin-top: 5vh;
}

@media only screen and (min-width: 700px) {
  .fellow-cards {
    width: 80vw;
  }

  .acard {
    margin: 0 28px;
  }
}

@media only screen and (min-width: 1325px) {
  .fellow-cards {
    width: 80vw;
    justify-content: center;
  }
}

.fcard-gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #7a13da 65%,
    #7a13da 100%
  );
}

/* Community Heads CSS */

.community-heads {
  margin: 5vh 5vw;
  margin-bottom: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-header {
  margin-top: 2vh;
  font-size: 1.75rem;
  font-weight: 700;
  color: #f8af45;
}

.community-cards {
  display: flex;
  overflow-x: auto;
  -webkit-scrollbar: none;
  margin-top: 5vh;
}

.lcard-gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #f8af45 65%,
    #f8af45 100%
  );
}

@media only screen and (min-width: 700px) {
  .leads-header {
    font-size: 2rem;
  }
}

/* Card Style */

.leads-cards {
  display: flex;
  overflow-x: auto;

  -webkit-scrollbar: none;
  margin-top: 5vh;
}

@media only screen and (min-width: 700px) {
  .leads-cards {
    width: 80vw;
    justify-content: center;
  }

  .acard {
    margin: 0 28px;
  }
}
