body {
  font-family: "Poppins", sans-serif;
}

.absimage {
  width: 100vw;
  margin: 5vh 0;
}

/* Navbar CSS */

.logo {
  width: 15rem;
}

.navbar-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.nav-links {
  display: none;
}

.link-text {
  margin: 1rem;
  font-weight: 400;
}

@media only screen and (min-width: 700px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
  }

  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
  }
}

/* Zonal Heads CSS */

.zonal-heads {
  margin: 0vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zonal-header {
  font-size: 1.75rem;
  font-weight: 700;
  color: #01bcb2;
}

.zonal-text {
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 700px) {
  .zonal-header {
    font-size: 2rem;
  }
  .zonal-text {
    width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Card Style */

.zonal-cards {
  display: flex;
  overflow-x: auto;
  -webkit-scrollbar: none;
  margin-top: 5vh;
}

.card {
  flex: 0 0 auto;
  position: relative;
  height: 18rem;
  margin: 0 18px;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.card-gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(1, 188, 178, 1) 65%,
    rgba(1, 188, 178, 1) 100%
  );
}

.card-text {
  padding: 1.5rem 0rem 0rem 1rem;
}

.card-text p {
  line-height: 1rem;
  color: white;
  font-weight: 500;
}

@media only screen and (min-width: 700px) {
  .zonal-cards {
    width: 80vw;
  }

  .card {
    margin: 0 38px;
  }
}

/* District Heads CSS */

.district-heads {
  margin: 0vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.district-header {
  margin-top: 3vh;
  font-size: 1.75rem;
  font-weight: 700;
  color: #349ad4;
}

.district-text {
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 700px) {
  .district-header {
    font-size: 2rem;
  }
  .district-text {
    width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Card Style */

.district-cards {
  display: flex;
  overflow-x: auto;
  -webkit-scrollbar: none;
  margin-top: 5vh;
}

.dcard {
  flex: 0 0 auto;
  position: relative;
  height: 18rem;
  margin: 0 10px;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.dcard-gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #349ad4 65%,
    #349ad4 100%
  );
}

.card-text {
  padding: 1.5rem 0rem 0rem 1rem;
}

.card-text p {
  line-height: 1rem;
  color: white;
  font-weight: 500;
}

@media only screen and (min-width: 700px) {
  .district-cards {
    width: 80vw;
  }

  .dcard {
    margin: 0 28px;
  }
}

/* Ambassadors Heads CSS */

.ambassadors-heads {
  margin: 5vh 5vw;
  margin-bottom: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ambassadors-header {
  margin-top: 2vh;
  font-size: 1.75rem;
  font-weight: 700;
  color: #fa9505;
}

.ambassadors-text {
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 700px) {
  .ambassadors-header {
    font-size: 2rem;
  }
  .ambassadors-text {
    width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Card Style */

.ambassadors-cards {
  display: flex;
  overflow-x: auto;
  -webkit-scrollbar: none;
  margin-top: 5vh;
}

.acard {
  flex: 0 0 auto;
  position: relative;
  height: 18rem;
  margin: 0 10px;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.acard-gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #132b4c 65%,
    #132b4c 100%
  );
}

.card-text {
  padding: 1.5rem 0rem 0rem 1rem;
}

.card-text p {
  line-height: 1rem;
  color: white;
  font-weight: 500;
}

@media only screen and (min-width: 700px) {
  .ambassadors-cards {
    width: 80vw;
  }

  .acard {
    margin: 0 28px;
  }
}

/* Executive Heads CSS */

.executive-heads {
  margin: 5vh 5vw;
  margin-bottom: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.executive-header {
  margin-top: 2vh;
  font-size: 1.75rem;
  font-weight: 700;
  color: #5774e1;
}

.executive-text {
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 700px) {
  .executive-header {
    font-size: 2rem;
  }
  .executive-text {
    width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Card Style */

.executive-cards {
  display: flex;
  overflow-x: auto;

  -webkit-scrollbar: none;
  margin-top: 5vh;
}

@media only screen and (min-width: 700px) {
  .executive-cards {
    width: 80vw;
    justify-content: center;
  }

  .acard {
    margin: 0 28px;
  }
}
